

// Color pallette

$primary: #00bfff;
$primary-hover: #66d9ff;
$primary-dark: #008ccc;
$dark: #0a0a0a;

$text-primary: #e6e6e6;
$text-secondary: #b0b0b0;
$text-highlight: #00bfff;

$boxShadowGlow: 0 0 10px rgba(0, 191, 255, 0.5);
$glowFilter: drop-shadow(0 0 10px #00bfff);

$linearGrad: linear-gradient(90deg, #0a0a0a, #001f33);