@use "../plug" as p;

.about-landing {
    background: p.$linearGrad;

    :is(.about-icon, .about-title) {
        color: p.$primary;
        filter: p.$glow-primary;
    }

    .about-heading {
        color: p.$text-primary;
    }
}