@use "../plug" as p;

.about-landing {
    background: p.$linearGrad;
    
    .about-container {
        // border: 1px solid red;
    }

    :is(.about-icon, .about-title) {
        color: p.$primary;
        filter: p.$glow-primary;
    }

    .about-heading {
        color: p.$text-primary;
    }
}